.block p {
    font-family: 'Open Sans', sans-serif;
    color: #2D3835;
    text-align: center;
    font-size: 1.5rem;
    padding-left: 4rem;
    padding-right: 4rem;
}

.Denise {
    width: 40%;
    height: 40%;
    border-radius: 1rem;
    margin-top: 1rem;
    margin-bottom: 1rem;
}

.block {
    text-align: center;
}