main {
    display: flex;
    flex-direction: column;
}

.block {
    display: flex;
    flex-direction: row;
    margin: 1rem;
    margin-bottom: 3rem;
    padding: 0vw 20vw;
    width: 60vw;
    border-radius: 0rem;
}

.instaimg {
    padding: 2rem;
    height: 25%;
    width: 25%;
    border-radius: 3rem;
}

.instatext {
    padding: 2rem;
    font-family: 'Open Sans', sans-serif;
    color: #2D3835;
    font-size: 1.25rem;
}

h1 {
    text-align: center;
    background-color: #F7EDE2;
    padding: 1rem 0 1rem 0;
    width: 100vw;
    font-family: 'Libre Baskerville', serif;
}

.spacer{
    height: 5vw;
}

.block-news{
    display: flex;
    flex-direction: row;
    margin: 1rem;
    margin-bottom: 3rem;
    padding: 0vw 20vw;
    width: 60vw;
    border-radius: 0rem;
    background-color: #F7EDE2;
}